body{
    background-image: url(../img/slika.jpg);
     background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.audioDemo{
    display: none;
}